@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

:root{
    --shadow:0px 10px 30px rgba(118,85,225,0.3);
	--box-shadow:0px 10px 30px rgba(57,56,61,0.205);
}

.inbox{
    width: 100%;
  border-right: 1px solid whitesmoke;
 
}
.inbox h4{
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
.inbox .search{
    width: 100%;
    padding: 0rem 1rem;
}
.inbox .search .search-box{
    display: flex;
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 5px;
    align-items: center;
}
.inbox .search .search-box input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 1rem;

}
.msg{
    border-top: 1px solid whitesmoke;
    margin-top: 1rem;
  
    overflow-y: scroll;
    height: 70vh;

}
.msg::-webkit-scrollbar{
    display: none;
}
.cards{
    width: 100%;
    display: flex;
    padding: 1rem;
    height: fit-content;

   
    
}
.cards .avtar{
    width: 1.8rem;
    height: 1.8rem !important;
    margin-right: 1rem;
    border-radius: 50%;
    background-color:whitesmoke;
    object-fit: contain;
}
.cards .avtar img{
    width: 100%;
    height:100% !important;
    object-fit: contain;
}
.cards .head{
display: flex;
justify-content: space-between;
color: rgb(182, 182, 182);
width: 100%;

}
.cards .head span{
    font-size: 0.8rem;
}
.cards .content {
    width: 100%;
}
.cards .content h4{
    font-size: 0.9rem;
}
.cards .content .message{

   padding: 0 !important;
   height: fit-content;
}
.cards .content p{
    font-size: 0.8rem;
    color: gray;
    text-align: justify;
    padding-right: 1rem;
}


.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  
}
.body .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
 

}

.attach{
    display: flex;
    display: flex;
    flex-wrap: wrap;
   
}
.a-box{
    min-width: 6rem;
    height: 4rem;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 1rem;
   
}
.a-box .trap{
    background-color: rgb(255, 36, 120);
    min-width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
   
   
}
.a-box .trap2{
    background-color: rgb(36, 197, 49);
    min-width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
   
}
.a-box .trap3{
    background-color: rgb(111, 197, 255);
    min-width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
   
}
.a-box span{
   padding: 0 1rem;
    
}




.body .top .name{
    display: flex;
    align-items: center;
}
.body .top .name img{
    margin-right: 0.5rem;object-fit: contain;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
}
.body .top .name h5{
    margin: 0;
    color: #000;
    font-weight: bolder;
    font-size: 0.8rem;
}
.body .top .name h6{
    color: silver;
    font-size: 0.7rem;
}
.body .top p{
    color: silver;
    font-size: 0.7rem;
    padding-right: 1rem;
}
.body .msg-body{
    height: 100%;
  
    overflow-y: scroll;
    padding: 1rem;
    
}

.body .msg-body::-webkit-scrollbar{
    display: none;
}
.body .msg-body p{
    text-align: justify;
}
.body .last-body{
    border-top: 1px solid whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding-top: 0.5rem;
}
.body .last-body span{
    margin: 0 0.5rem;
    cursor: pointer;
}


.list{
    display: flex;
   align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    overflow-y: scroll;
   
    height: 500px;
   
    
}
.list::-webkit-scrollbar{
    display: none;
}
.list img{
    width:2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: whitesmoke;
}
.list span{
    background-color: whitesmoke;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mr-top{
    margin: 1rem 0 !important;
}


.send{
    width:100%;
    padding: 1rem;
}
.drag h5{
    font-size: 1rem;
}
.drag .and1{
    margin: 1rem;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
}
.set h5{
    font-size: 0.9rem;
    font-weight: bolder;
    color: #000;
}

.media{
    width: 100%;
    height: 80vh;
    border:1px solid red;
    overflow: auto;
   
}